<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4  bg-white border-bottom shadow-sm sticky-top">
  <h5 class="my-0 mr-md-auto font-weight-normal">Tsujimura's portfolio</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="#about-section">About me</a>
      <a class="p-2 text-dark" href="#works-section">Works</a>
      <a class="p-2 text-dark" href="#skills-section">Skills</a>
      <a class="p-2 text-dark" href="#contact-section">Contact</a>
    </nav>
</div>

<%= image_tag "sky.png", class:"img-field w-100 " %>

<div class="about mt-5" id="about-section">
  About me
</div>
<div class="works mt-5" id="works-section">
  Works
</div>
<div class="container container-m">
<div class="card-deck">
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">オリジナルアプリ</h5>
    <%= image_tag "sky.png", class:"mb-3 card-img-top" %>
    <h6 class="card-subtitle mb-2 text-muted">mydialy</h6>
    <p class="card-text">初めて一から作成したオリジナルアプリです。</p>
    <a href="#" class="card-link">README</a>
  </div>
</div>
</div>
</div>
</div>

<div class="skills mt-5" id="skills-section">
  Skills
</div>
<div class="contact mt-5" id="contact-section">
  Contact
</div>

<footer class="footer mt-auto text-center py-3 text-white bg-dark">
    <div class="container">
      <span class="text-white">&copy; 2020 Tsujimura's Portfolio</span>
    </div>
  </footer>